/* Playfair Display add */
@font-face { font-family: 'Playfair Display', serif; }
/* Poppins add */
@font-face { font-family: 'Poppins', sans-serif; }
* { margin: 0; padding: 0; outline: 0; }

* { box-sizing: border-box; }

body { background-color: #ffffff; color: #333333; font-family: 'Poppins', sans-serif; }

/*a:hover {text-decoration: none;}*/
button { cursor: pointer; }

a:focus, button, button:focus, input, input:focus, textarea, textarea:focus { outline: 0; }

a, h1, h2, h3, h4, h5, h6, p { margin: 0; }

h1 { font-size: 40px; }

h2 { font-size: 32px; }

h3 { font-size: 28px; }

h4 { font-size: 24px; }

h5 { font-size: 20px; }

h6 { font-size: 18px; }

img { height: auto; max-width: 100%; }

ul { margin: 0; padding: 0; list-style-type: none; }

/*Input Placeholder*/
*::-moz-placeholder { color: #1c1c21; font-size: 14px; opacity: 1; }

*::placeholder { color: #1c1c21; font-size: 14px; opacity: 1; }

/*Content Selection*/
*::-moz-selection { background: #1c1c21; color: #ffffff; text-shadow: none; }

*::selection { background: #1c1c21; color: #ffffff; text-shadow: none; }

/*BG Color*/
.bg-black { background-color: #151515; }

.bg-blue { background-color: #0066ff; }

.bg-gray { background-color: #6c757d; }

/* Margin Classes */
/*Margin Top*/
.mt-10 { margin-top: 10px; }

.mt-15 { margin-top: 15px; }

.mt-20 { margin-top: 20px; }

.mt-25 { margin-top: 25px; }

.mt-30 { margin-top: 30px; }

.mt-35 { margin-top: 35px; }

.mt-40 { margin-top: 40px; }

.mt-45 { margin-top: 45px; }

.mt-50 { margin-top: 50px; }

.mt-70 { margin-top: 70px; }

/*Margin Right*/
.mr-10 { margin-right: 10px; }

.mr-15 { margin-right: 15px; }

.mr-20 { margin-right: 20px; }

.mr-25 { margin-right: 25px; }

.mr-30 { margin-right: 30px; }

.mr-35 { margin-right: 35px; }

.mr-40 { margin-right: 40px; }

.mr-45 { margin-right: 45px; }

.mr-50 { margin-right: 50px; }

/*Margin Bottom*/
.mb-10 { margin-bottom: 10px; }

.mb-15 { margin-bottom: 15px; }

.mb-20 { margin-bottom: 20px; }

.mb-25 { margin-bottom: 25px; }

.mb-30 { margin-bottom: 30px; }

.mb-35 { margin-bottom: 35px; }

.mb-40 { margin-bottom: 40px; }

.mb-45 { margin-bottom: 45px; }

.mb-50 { margin-bottom: 50px; }

/*Margin Left*/
.ml-10 { margin-left: 10px; }

.ml-15 { margin-left: 15px; }

.ml-20 { margin-left: 20px; }

.ml-25 { margin-left: 25px; }

.ml-30 { margin-left: 30px; }

.ml-35 { margin-left: 35px; }

.ml-40 { margin-left: 40px; }

.ml-45 { margin-left: 45px; }

.ml-50 { margin-left: 50px; }

/* Padding Classes */
/*Padding Top*/
.pt-10 { padding-top: 10px; }

.pt-15 { padding-top: 15px; }

.pt-20 { padding-top: 20px; }

.pt-25 { padding-top: 25px; }

.pt-30 { padding-top: 30px; }

.pt-35 { padding-top: 35px; }

.pt-40 { padding-top: 40px; }

.pt-45 { padding-top: 45px; }

.pt-50 { padding-top: 50px; }

.pt-55 { padding-top: 55px; }

.pt-60 { padding-top: 60px; }

.pt-65 { padding-top: 65px; }

.pt-70 { padding-top: 70px; }

.pt-75 { padding-top: 75px; }

.pt-80 { padding-top: 80px; }

.pt-85 { padding-top: 85px; }

.pt-90 { padding-top: 90px; }

.pt-95 { padding-top: 95px; }

/*Padding Right*/
.pr-10 { padding-right: 10px; }

.pr-15 { padding-right: 15px; }

.pr-20 { padding-right: 20px; }

.pr-25 { padding-right: 25px; }

.pr-30 { padding-right: 30px; }

.pr-35 { padding-right: 35px; }

.pr-40 { padding-right: 40px; }

.pr-45 { padding-right: 45px; }

.pr-50 { padding-right: 50px; }

.pr-55 { padding-right: 55px; }

.pr-60 { padding-right: 60px; }

.pr-65 { padding-right: 65px; }

.pr-70 { padding-right: 70px; }

.pr-75 { padding-right: 75px; }

.pr-80 { padding-right: 80px; }

.pr-85 { padding-right: 85px; }

.pr-90 { padding-right: 90px; }

.pr-95 { padding-right: 95px; }

/*Padding Bottom*/
.pb-10 { padding-bottom: 10px; }

.pb-15 { padding-bottom: 15px; }

.pb-20 { padding-bottom: 20px; }

.pb-25 { padding-bottom: 25px; }

.pb-30 { padding-bottom: 30px; }

.pb-35 { padding-bottom: 35px; }

.pb-40 { padding-bottom: 40px; }

.pb-45 { padding-bottom: 45px; }

.pb-50 { padding-bottom: 50px; }

.pb-55 { padding-bottom: 55px; }

.pb-60 { padding-bottom: 60px; }

.pb-65 { padding-bottom: 65px; }

.pb-70 { padding-bottom: 70px; }

.pb-75 { padding-bottom: 75px; }

.pb-80 { padding-bottom: 80px; }

.pb-85 { padding-bottom: 85px; }

.pb-90 { padding-bottom: 90px; }

.pb-95 { padding-bottom: 95px; }

/*Padding Left*/
.pl-10 { padding-left: 10px; }

.pl-15 { padding-left: 15px; }

.pl-20 { padding-left: 20px; }

.pl-25 { padding-left: 25px; }

.pl-30 { padding-left: 30px; }

.pl-35 { padding-left: 35px; }

.pl-40 { padding-left: 40px; }

.pl-45 { padding-left: 45px; }

.pl-50 { padding-left: 50px; }

.pl-55 { padding-left: 55px; }

.pl-60 { padding-left: 60px; }

.pl-65 { padding-left: 65px; }

.pl-70 { padding-left: 70px; }

.pl-75 { padding-left: 75px; }

.pl-80 { padding-left: 80px; }

.pl-85 { padding-left: 85px; }

.pl-90 { padding-left: 90px; }

.pl-95 { padding-left: 95px; }

.custom-btn { background-color: #ffcd05; color: green; font-size: 12px; font-family: "Playfair Display", serif; font-weight: 400; width: 100%; border: 1px solid #ff3251; display: block; outline: none; box-shadow: none; border-radius: 0; padding: 15px 20px; border: none; }
.custom-btn:hover, .custom-btn:focus { background-color: #000000; color: #ffffff; border-color: transparent; }

h1 { font-style: normal; font-size: 152px; font-family: "Playfair Display", serif; font-weight: 700; line-height: 1.2; text-transform: capitalize; }

h2 { font-style: normal; font-size: 102px; font-family: "Playfair Display", serif; font-weight: 700; line-height: 1.2; text-transform: capitalize; }

h3 { font-style: normal; font-size: 30px; font-family: "Poppins", sans-serif; font-weight: 400; line-height: 1; text-transform: capitalize; }

h4 { font-size: 20px; font-family: "Poppins", sans-serif; font-style: normal; font-weight: 600; line-height: 1.3; }

h5 { font-size: 18px; font-family: "Poppins", sans-serif; font-weight: 500; font-style: normal; }

h6 { font-size: 15px; font-family: "Playfair Display", serif; font-weight: 300; font-style: normal; color: #cccccc; }

p { font-size: 17px; font-family: "Playfair Display", serif; font-weight: 300; font-style: normal; color: #555555; }

[class^="pe-7s-"], [class*=" pe-7s-"] { display: inline-block; }

body, html { height: 100%; }

@media (min-width: 768px) { aside { height: 100%; } }
/* ========================================================================== > Comment start ========================================================================== */
@media (max-width: 575.98px) { .navbar { height: auto; } }

/*# sourceMappingURL=style.css.map */
