body, html {
  height: 100%;
}

@media (min-width: 768px) {
  aside {
    height: 100%;
  }
}

/* ==========================================================================
  > Comment start
  ========================================================================== */
